# Exploração dos Dados

In [93]:
# Importação de dependencias
import pandas as pd

# Exploração dos Dados

In [94]:
df = pd.read_csv('../database/bitcoin.csv')
df.head()

         Data    Último  Abertura    Máxima    Mínima    Vol.    Var%
0  02.09.2024  59.247,7  57.309,0  59.276,9  57.185,8  75,63K   3,37%
1  01.09.2024  57.315,7  58.975,7  59.058,7  57.232,4  63,95K  -2,82%
2  31.08.2024  58.978,6  59.120,4  59.447,0  58.761,1  30,86K  -0,24%
3  30.08.2024  59.119,7  59.371,7  59.817,6  57.874,7  87,31K  -0,43%
4  29.08.2024  59.373,5  59.027,3  61.150,6  58.807,1  87,19K   0,61%

In [95]:
# verificando os tipos dos dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      611 non-null    object
 1   Último    611 non-null    object
 2   Abertura  611 non-null    object
 3   Máxima    611 non-null    object
 4   Mínima    611 non-null    object
 5   Vol.      611 non-null    object
 6   Var%      611 non-null    object
dtypes: object(7)
memory usage: 33.5+ KB

In [96]:
# verificando se existem dados NaN
df.isna().sum()

Data        0
Último      0
Abertura    0
Máxima      0
Mínima      0
Vol.        0
Var%        0
dtype: int64

In [97]:
# Verificando se existem dados nulos
df.isnull().sum()

Data        0
Último      0
Abertura    0
Máxima      0
Mínima      0
Vol.        0
Var%        0
dtype: int64

In [98]:
# Renomeando as colunas
df = df.rename(columns={'Último': 'Ultimo', 'Máxima': 'Maxima', 'Mínima': 'Minima', 'Vol.': 'Vol'})

In [99]:
df['Vol'] = df['Vol'].replace('K', '000')
df

           Data    Ultimo  Abertura    Maxima    Minima      Vol    Var%
0    02.09.2024  59.247,7  57.309,0  59.276,9  57.185,8   75,63K   3,37%
1    01.09.2024  57.315,7  58.975,7  59.058,7  57.232,4   63,95K  -2,82%
2    31.08.2024  58.978,6  59.120,4  59.447,0  58.761,1   30,86K  -0,24%
3    30.08.2024  59.119,7  59.371,7  59.817,6  57.874,7   87,31K  -0,43%
4    29.08.2024  59.373,5  59.027,3  61.150,6  58.807,1   87,19K   0,61%
..          ...       ...       ...       ...       ...      ...     ...
606  05.01.2023  16.829,8  16.852,2  16.877,9  16.772,3  178,96K  -0,13%
607  04.01.2023  16.852,1  16.674,2  16.976,5  16.656,5  247,39K   1,07%
608  03.01.2023  16.674,2  16.673,1  16.773,2  16.607,2  178,73K   0,00%
609  02.01.2023  16.674,3  16.618,4  16.766,9  16.551,0  136,03K   0,34%
610  01.01.2023  16.618,4  16.537,5  16.621,9  16.499,7  107,84K   0,49%

[611 rows x 7 columns]

In [100]:
for i in df.columns:
    try:
        df[f'{i}'] = df[f'{i}'].str.replace('.', '', regex=False).str.replace(',', '.', regex=False).astype(float)
    except:
        pass
df

           Data   Ultimo  Abertura   Maxima   Minima      Vol    Var%
0     2092024.0  59247.7   57309.0  59276.9  57185.8   75,63K   3,37%
1     1092024.0  57315.7   58975.7  59058.7  57232.4   63,95K  -2,82%
2    31082024.0  58978.6   59120.4  59447.0  58761.1   30,86K  -0,24%
3    30082024.0  59119.7   59371.7  59817.6  57874.7   87,31K  -0,43%
4    29082024.0  59373.5   59027.3  61150.6  58807.1   87,19K   0,61%
..          ...      ...       ...      ...      ...      ...     ...
606   5012023.0  16829.8   16852.2  16877.9  16772.3  178,96K  -0,13%
607   4012023.0  16852.1   16674.2  16976.5  16656.5  247,39K   1,07%
608   3012023.0  16674.2   16673.1  16773.2  16607.2  178,73K   0,00%
609   2012023.0  16674.3   16618.4  16766.9  16551.0  136,03K   0,34%
610   1012023.0  16618.4   16537.5  16621.9  16499.7  107,84K   0,49%

[611 rows x 7 columns]

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      611 non-null    float64
 1   Ultimo    611 non-null    float64
 2   Abertura  611 non-null    float64
 3   Maxima    611 non-null    float64
 4   Minima    611 non-null    float64
 5   Vol       611 non-null    object
 6   Var%      611 non-null    object
dtypes: float64(5), object(2)
memory usage: 33.5+ KB

In [102]:
# Transformando os dados para os tipos adequados
df['Data'] = pd.to_datetime(df['Data'], dayfirst=True)
df['Ultimo'] = pd.to_numeric(df['Ultimo'])
df

,Data,Ultimo,Abertura,Maxima,Minima,Vol,Var%
0,1970-01-01 00:00:00.002092024,59247.7,57309.0,59276.9,57185.8,"75,63K","3,37%"
1,1970-01-01 00:00:00.001092024,57315.7,58975.7,59058.7,57232.4,"63,95K","-2,82%"
2,1970-01-01 00:00:00.031082024,58978.6,59120.4,59447.0,58761.1,"30,86K","-0,24%"
3,1970-01-01 00:00:00.030082024,59119.7,59371.7,59817.6,57874.7,"87,31K","-0,43%"
4,1970-01-01 00:00:00.029082024,59373.5,59027.3,61150.6,58807.1,"87,19K","0,61%"
...,...,...,...,...,...,...,...
606,1970-01-01 00:00:00.005012023,16829.8,16852.2,16877.9,16772.3,"178,96K","-0,13%"
607,1970-01-01 00:00:00.004012023,16852.1,16674.2,16976.5,16656.5,"247,39K","1,07%"
608,1970-01-01 00:00:00.003012023,16674.2,16673.1,16773.2,16607.2,"178,73K","0,00%"
609,1970-01-01 00:00:00.002012023,16674.3,16618.4,16766.9,16551.0,"136,03K","0,34%"
610,1970-01-01 00:00:00.001012023,16618.4,16537.5,16621.9,16499.7,"107,84K","0,49%"