# Exploração dos Dados

In [1]:
# Importação de dependencias
import pandas as pd

# Exploração dos Dados

In [3]:
df = pd.read_csv('../database/bitcoin.csv')
df.head()

         Data    Último  Abertura    Máxima    Mínima    Vol.    Var%
0  02.09.2024  59.247,7  57.309,0  59.276,9  57.185,8  75,63K   3,37%
1  01.09.2024  57.315,7  58.975,7  59.058,7  57.232,4  63,95K  -2,82%
2  31.08.2024  58.978,6  59.120,4  59.447,0  58.761,1  30,86K  -0,24%
3  30.08.2024  59.119,7  59.371,7  59.817,6  57.874,7  87,31K  -0,43%
4  29.08.2024  59.373,5  59.027,3  61.150,6  58.807,1  87,19K   0,61%

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      611 non-null    object
 1   Último    611 non-null    object
 2   Abertura  611 non-null    object
 3   Máxima    611 non-null    object
 4   Mínima    611 non-null    object
 5   Vol.      611 non-null    object
 6   Var%      611 non-null    object
dtypes: object(7)
memory usage: 33.5+ KB

In [7]:
df.isna().sum()

Data        0
Último      0
Abertura    0
Máxima      0
Mínima      0
Vol.        0
Var%        0
dtype: int64

In [8]:
df.isnull().sum()

Data        0
Último      0
Abertura    0
Máxima      0
Mínima      0
Vol.        0
Var%        0
dtype: int64